<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>첫 화면입니다.</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{ url_for('static', filename='js/watch.js') }}"></script>
</head>
<body>
    <div id="container">
        <header>
            <nav>
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/login/">로그인</a></li>
                    <li><a href="/member/">회원가입</a></li>
                    <li><a href="#">게시판</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <h1>Welcome to my home!!</h1>
            <img src="{{ url_for('static', filename='images/bg.jpg')}}" alt="City">
            <p id="demo"></p>
        </section>
    </div>
</body>
</html>