<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>첫 화면입니다.</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div id="container">
        <header>
            <nav>
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/login/">로그인</a></li>
                    <li><a href="/member/">회원가입</a></li>
                    <li><a href="#">게시판</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <h1>회원가입을 환영합니다</h1>
            <form action="#" method="post" class="join">
                <fieldset>
                    <legend>회원 정보</legend>
                    <ul>
                        <li>
                            <label for="uid">아이디</label>
                            <input type="text" id="uid" name="uid">
                        </li>
                         <li>
                            <label for="umail">이메일</label>
                            <input type="email" id="umail" name="umail">
                        </li>
                         <li>
                            <label for="pwd1">비밀번호</label>
                            <input type="password" id="pwd1" name="pwd1">
                        </li>
                         <li>
                            <label for="pwd2">비밀번호 확인</label>
                            <input type="password" id="pwd2" name="pwd2">
                        </li>
                         <li>
                            <label for="path">가입경로</label>
                            <select id="path" name="path">
                                <option value="blog">블로그</option>
                                <option value="search">검색</option>
                                <option value="sns">SNS</option>
                                <option value="etc">기타</option>
                            </select>
                        </li>
                         <li>
                            <input type="submit" value="가입하기">
                            <input type="reset" value="취소">
                        </li>
                    </ul>
                </fieldset>
            </form>
        </section>
    </div>
</body>
</html>